.list {
  list-style-type: georgian;
  list-style-position: inside;
  text-align: center;
}

.text-column-4 {
  list-style-position: inside;
  column-count: 4;
  column-gap: 1rem;
  column-rule: thin dotted red;
  column-width: 100px; /* tamaño mínimo de anchura de las columas */
}